pdf3x2() {
    pdfjam --outfile ./ --suffix print --nup 3x2 --landscape --scale 0.95 \
           --delta '2mm 28mm' $1;
}

# ------------------------------------------------------------------------------
# SSH
# ------------------------------------------------------------------------------
sshrepass() { ssh-keygen -pf $1; } # Change the password of a private key
sshfp() { ssh-keygen -lf $1; } # Show SHA256 fingerprint of the public key
