[user]
	name = Lukas Halbritter
	email = halbi93@gmx.de
[core]
	editor = nvim
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	df = difftool
	graph = log --graph --oneline --decorate=short
[push]
	default = simple
[difftool]
	prompt = false
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[init]
	defaultBranch = main
