[user]
  name = Lukas Halbritter
  email = halbi93@gmx.de
[core]
  editor = nvim
[merge]
  tool = vimdiff
[color]
  ui = true
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  df = difftool
  graph = log --graph --format=format:'%C(bold ul brightcyan)%s%C(reset) %C(cyan)- %h%C(reset)%C(auto)%d%C(reset)%n%C(bold dim white)%an%C(reset) %C(dim white)%ar (%ad)%C(reset)%n%+b'
[push]
  default = simple
[difftool]
  prompt = false
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[init]
  defaultBranch = main
